# Downloaded Terraform providers and modules
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Saved Terraform plans
*.tfplan
tfplan

# Terraform crash logs
crash.log
crash.*.log

# Local Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS files
.DS_Store